* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  background: #f3f0e9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*~~~~~~~~~~~~~~~~~~~~~~~MOBILE~~~~~~~~~~~~~~~~~~~~~~~~*/

/* GENERAL*/

.app {
  width: 100%;
  padding: 10px 30px 30px;
  font-family: 'Lusitana', serif;
  color: #411910;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-link {
  padding: 5px 10px 7px;
  margin-right: 20px;
  background-color: black;
  color: #f3f0e9; 
  text-decoration: none;
  font-weight: 700;
}

.activated {
  padding: 5px 10px 7px;
  margin-right: 20px;
  background-color: #545f4f;
  color: #f3f0e9; 
  text-decoration: none;
  font-weight: 700;
}

/* HOME*/

.welcome-container {
  width: 100%;
  margin-top: 20px;
}

.welcome-heading {
  position: absolute;
  padding-left: 20px;
  color: #f3f0e9;;  
}

.author-container {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.author-image {
  border-radius: 50%;
  position: relative;
}

.author-name {
  font-size: 16px;
}

.image-overlay {
  width: 102px;
  height: 102px;
  font-size: 14px;
  background-color: white;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transform: translateY(-30px)
}

.image-overlay:hover {
  width: 102px;
  height: 102px;
  font-size: 14px;
  background-color: white;
  position: absolute;
  cursor: not-allowed;
  opacity: 1;
  transition: opacity 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transform: translateY(-30px)
}

/* INFO*/

.info-text {
  font-weight: 700;
}

/* SIGN-UP*/

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-element {
  margin-bottom: 10px;
}

.form-paragraph {
  margin: 15px 0 8px;
}

.error {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.submit-button {
  width: 120px;
  background-color: black;
  color: white;
  border: 1 px solid black;
  border-style: none;
  padding: 5px 0 7px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~TABLET~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width : 600px) {

  .app {
    padding: 50px;
    max-width: 700px;
    margin: auto;
    font-size: 18px;
  }

  .welcome-container {
    width: 75%;
    margin-top: 40px;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .author-container {
    display: flex;
    float: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .author-name {
    font-size: 18px;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  .info-container {
    width: 90%;
  }

}

/*~~~~~~~~~~~~~~~~~~~~~~~DESKTOP~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width : 1200px ) {
 
}