body {
  margin: 0;
  background: #f3f0e9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GENERAL*/

.App {
  padding: 20px;
  font-family: 'Lusitana', serif;
  color: #411910;
  
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar-link {
  padding: 5px 10px 7px;
  margin-right: 20px;
  background-color: black;
  color: #f3f0e9; 
  text-decoration: none;
  font-weight: 700;
}

.activated {
  padding: 5px 10px 7px;
  margin-right: 20px;
  background-color: #7e2178;
  color: #f3f0e9; 
  text-decoration: none;
  font-weight: 700;
}

/* HOME*/

.author-container {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.author-image {
  border-radius: 50%;
  position: relative;
}

.image-overlay {
  width: 102px;
  height: 102px;
  font-size: 14px;
  background-color: white;
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transform: translateY(-30px)
}

.image-overlay:hover {
  width: 102px;
  height: 102px;
  font-size: 14px;
  background-color: white;
  position: absolute;
  cursor: not-allowed;
  opacity: 1;
  transition: opacity 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  transform: translateY(-30px)
}

/* INFO*/

.info-text {
  font-weight: 700;
}

/* SIGN-UP*/

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-element {
  margin-bottom: 10px;
}

.form-paragraph {
  margin: 15px 0 8px;
}

.error {
  color: red;
  font-style: italic;
  font-weight: 700;
}

.submit-button {
  width: 120px;
  background-color: black;
  color: white;
  border: 1 px solid black;
  border-style: none;
  padding: 5px 0 7px;
}